.yf{
    height:55px;
 }
.yf_title{
	font-size:17px;
	float:left;
	padding:7px;
	width:90px;
} 
.yf_content{
    cursor:default;
	float:left;
	border:1.5px solid #BBBBBB;
	width: 100px;
	height:35px;
	text-align:center;
	color:#BBBBBB;
	font-weight:550;
	padding:6px;
	margin:5px 5px 0px 5px
}
.yf_content_select{
    cursor:default;
	float:left;
    border:1.5px solid #F27C70;
	width:100px;
	height:35px;
	text-align:center;
    color:#F27C70;
	font-weight:550;
	padding:6px;
	margin:5px 5px 0px 5px
}
.yf_content:hover{
	border:1.5px solid #F27C70;
    color:#F27C70;
}
.xw_content{
    cursor:default;
	float:left;
	border:1.5px solid #BBBBBB;
	width:100px;
	height:35px;
	text-align:center;
	color:#BBBBBB;
	font-weight:550;
	padding:6px;
	margin:5px 5px 0px 5px
}
.xw_content_select{
    cursor:default;
	float:left;
    border:1.5px solid #73B0E6;
    color:#73B0E6;
	width:100px;
	height:35px;
	text-align:center;
	font-weight:550;
	padding:6px;
	margin:5px 5px 0px 5px
}
.xw_content:hover{
	border:1.5px solid #73B0E6;
    color:#73B0E6;
}
