.nav>li>a>img{
		width:24px;
		margin-right:15px;
}
.mt-card-name,.mt-card-desc{
	color:#fff;
	text-align:center;
	font-weight:bold;
}
.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border:4px solid #fff;
}
.nav>li>a:focus, .nav>li>a:hover{
	background:#4E95D7;
	border-left:4px solid #64E1F5;
	padding-left:11px;
}
.nav>li>a.check{
	background:#4E95D7;
	border-left:4px solid #64E1F5;
	padding-left:11px;
}
.page-sidebar.navbar-collapse{
	overflow:hidden!important;
}
.page-sidebar{
	background:#6CA8E2;
}
.top-menu ul li a{
	margin: 0;
	display:block;	
    padding: 28px 16px 19px;
}
.top-menu ul li a:focus,.top-menu ul li a:hover{
	border:none;
}

