<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="${request.contextPath}/css/kdys.css">
<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet light ">

	<div class="portlet-title">
		<div class="caption" style="width: 500px;">
			<span class="caption-subject bold uppercase font-dark">患者列表</span>
		</div>
		<div class="caption">
			<span class="caption-subject bold uppercase font-dark">查 询</span>
			<div class="input-group"
				style="display:inline-table;vertical-align:middle;margin-left:10px;width:250px;">
				<input type="text" class="form-control" placeholder="姓名"> <span
					class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="portlet-body">
		<div class="table-scrollable 3">
			<table class="table " style="width: 1000px;">
				<thead>
					<tr style="text_align:center;">
						<th style="text-align: center; ">姓名</th>
						<th style="text-align: center; ">就诊时间</th>
						<th style="text-align: center; ">诊断</th>
						<th style="text-align: center; ">处方</th>
						<th style="text-align: center; ">敏化检测</th>
						<th style="text-align: center; ">操作</th>
					</tr>
				</thead>
				<tbody>
					@ for(emr in emrsLeft!){
					<tr style="text_align:center;">
						<td style="text-align: center; ">${emr.patientName}</td>
						<td style="text-align: center; ">${emr.createTime,'yyyy-MM-dd'}</td>
						<td style="text-align: center; ">${emr.disease}</td>
						<td style="text-align: center; ">AZ鼻炎喷雾剂</td>
						<td style="text-align: center; ">正常</td>
						<td style="text-align: center; "><a class="text-primary"
							onclick="showEmr(this)" emrId="${emr.id}">详情</a><a
							class="text-success" onclick="exportEmr(this)" emrId="${emr.Id}">导出</a><a
							class="text-danger" onclick="deleteEmr(this)" emrId="${emr.Id}">删除</a></td>
					</tr>
					@}
				</tbody>
			</table>
			<div class="page_and_btn">${emr.page.pageStr}</div>

		
		</div>
	</div>
</div>

<script type="text/javascript">
	// 分页查询
	function searchNextPage(currentPage) {
		var url = contextPath + "/getPatientRecipels";
		postdata = {
			'page.currentPage' : currentPage
		};
		$.post(url, postdata, function(data) {
			$("#right_content").html(data);
		});
	}

	// 删除病例
	function deleteEmr(me) {
		var emrId = $(me).attr("emrId");
		var url = contextPath + "/emr/delemr";
		var postdata = {
			id : emrId
		};
		$.post(url, postdata, function(data) {
			if (data.status == "TS") {
			searchNextPage(1)
			}
		});
	}
</script>
<style>
body {
	background-color: #5C9BD1;
}

.static-info .name {
	font-size: 16px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a
	{
	background: #5C9BD1;
	color: #fff;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover
	{
	background-color: #5C9BD1;
}

li a {
	color: white;
	font-size: 16px;
}

.page-header.navbar .page-logo {
	background: #74AFE7;
}

.btn


:not

 

(
.btn-sm

 

)
:not

 

(
.btn-lg
)
{
line-height: 1.44;
width: 99px;
height: 40px;
margin: 6px;
}
.uneditable-input {
	padding: 6px 12px;
	min-width: 206px;
	font-size: 14px;
	font-weight: 400;
	height: 40px;
	color: #555;
	background-color: #fff;
	border: 1px solid #c2cad8;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* button 去边框 */
.btn


:not

 

(
.btn-sm

 

)
:not

 

(
.btn-lg
)
{
line-height: 1.44;
width: 99px;
height: 40px;
margin: 6px;
border: none;
}
.xq {
	color: #3f83ba;
}

.dc {
	color: #389f9a;
}

.sc {
	color: #c5654c;
}

.table-scrollable {
	width: 810px;
	overflow-x: auto;
	overflow-y: hidden;
	border: 1px solid #e7ecf1;
	margin: 10px 0 !important;
}

.table-scrollable>.table {
	width: 800px !important;
	margin: 0 !important;
	background-color: #fff;
	text_align: center;
}
</style>
</html>