<meta charset="utf-8" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<style>
	.container-fluid {
		padding:3%;
		background-color:white;
	}
	.row span {
		color:white;
		background-color:#5C9BD1;
		border:1px solid #5C9BD1;
	}
	.row input {
		border:1px solid #5C9BD1;
		ouline:none;
	}
</style>
<div>
	<form id="saveUser" class="form-horizontal" >
		<div class="container-fluid">
			<input hidden id="id" name="id" value="${user.id}">
			<input hidden id="userId" name="userId" value="${user.userId}">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">姓&emsp;&emsp;名</span>
						<input type="text" class="form-control" id="username" name="username"
							   value="${user.username}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">科&emsp;&emsp;室</span>
						<select class="form-control" name="deptname" id="deptname">
						    <option id="deptname" name="deptname">针灸科</option>
						    <option id="deptname" name="deptname">推拿科</option>
						    <option id="deptname" name="deptname">门诊科</option>	
						    <option id="deptname" name="deptname">大药房</option>				 
						</select>
						<!-- <input type="text" class="form-control" id="deptname" name="deptname"
							   value="${user.deptname}"> -->
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">中医师承</span>
						<input type="text" class="form-control" name="teacher" id="teacher" value="${user.teacher}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">最高学历</span>
						<select class="form-control" name="education" id="education">
						    <option name="education" id="education">无</option>
						    <option name="education" id="education">小学</option>
						    <option name="education" id="education">初中</option>
						    <option name="education" id="education">高中</option>
						    <option name="education" id="education">大学</option>
						    <option name="education" id="education">硕士</option>	
						    <option name="education" id="education">博士</option>				 
						</select>
						<!--  <input type="text" class="form-control" name="education" id="education" value="${user.education}" /> -->
					</div>  
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">联系电话</span>
						<input type="text" class="form-control" id="telephone" name="telephone"
							   value="${user.telephone}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">出诊时间</span>
						<input type="text" class="form-control" name="czTime" id="czTime" value="${user.czTime}" />
					</div>
				</div>

				<div class="col-md-4 column">
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">年&emsp;&emsp;龄</span>
						<input type="text" class="form-control" id="age" name="age" value="${user.age}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">职&emsp;&emsp;称</span>
						<input type="text" class="form-control" id="prof" name="prof"  value="${user.prof}" >
					</div>
				</div>

				<div class="col-md-4 column">
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">性&emsp;&emsp;别</span>
						<select class="form-control" name="sex" id="sex">
						    <option  name="sex">男</option>
						    <option  name="sex">女</option>				 
						</select>
						<!--  <input type="text" class="form-control" id="sex" name="sex" value="${user.sex}">  -->
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">从业年限</span>
						<input type="text" class="form-control" name="workTime" id="WorkTime" value="${user.workTime}">
					</div>
				</div>

				<div class="col-md-8 column">
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">擅长病种</span>
						<input type="text" class="form-control" name="illness" id="illness" value="${user.illness}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">毕业院校</span>
						<input type="text" class="form-control" name="school" id="school" value="${user.school}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">电子邮箱</span>
						<input type="text" class="form-control" id="email" name="email"
							   value="${user.email}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">出诊地点</span>
						<input type="text" class="form-control" name="czAddress" id="czAddress" value="${user.czAddress}">
					</div>
				</div>

				<div class="col-md-12 column">
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">联系地址</span>
						<input type="text" class="form-control" id="address" name="address"
							   value="${user.address}">
					</div>
					<div class="input-group input-group-sm" style="margin-top:10px">
						<span class="input-group-addon">医生简介</span>
						<textarea type="text" row="3" class="form-control" name="docDesc" id="docDesc" style="height: 80px">${user.docDesc}</textarea>
					</div>
				</div>


			</div>
			<div class="row clearfix">
				<div class="col-md-6 column col-md-offset-4">
					<button type="button" onclick="retrover()" class="btn btn-default" style="margin:20px 100px 0 10px">返&emsp;&emsp;回</button>
					<button class="btn btn-primary" style="margin:20px 0 0 10px" onclick="pushData()">修&emsp;&emsp;改</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 测试  -->
<script>
    $(function () {

    })
    function pushData() {
        //获取表单的所有字段的数据
        var dataQ = new Object({
            "id":$("input[name=id]").val(),
            "userId":$("input[name=userId]").val(),
            "username":$("input[name=username]").val(),
            "address":$("input[name=address]").val(),
            "age" :$("input[name=age]").val(),
            "sex":$("select[name=sex]").val(),
            "deptname": $("select[name=deptname]").val(),
            "prof":$("input[name=prof]").val(),
            "workTime":$("input[name=workTime]").val(),
            "teacher":$("input[name=teacher]").val(),
            "illness":$("input[name=illness]").val(),
            "education":$("select[name=education]").val(),//最高学历
            "school":$("input[name=school]").val(),//毕业院校
            "telephone": $("input[name=telephone]").val(),
            "email": $("input[name=email]").val(),
            "czTime":$("input[name=czTime]").val(),
            "czAddress":$("input[name=czAddress]").val(),
            "docDesc": $("textarea[name=docDesc]").val()
        })
        console.log(dataQ)
        $.ajax({
            type:"POST",
            url:"/xwmh/userProfile/editUser",
            data:dataQ,
            cache:false,
            async:false,
            success:function (e) {
                var code = e.status;
                if (code == "TS"){
                    alert("修改成功");
                }else {
                    alert("修改失败")
                }
            },
            error:function () {
                layer.msg("提交失败！")
            }
        })
    }
    function retrover() {
        $("#right_content").load("${request.contextPath}/index")
    }
</script>
<style>
	/* .tooltip - background of tooltip */
	#ex1Slider  .tooltip-inner {
		background-color: #FFF9C4;
		border-radius: 15px;
		color: #000;
		font-weight: bold;
		margin-left: -3.5px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	}

	#ex1Slider .slider-handle {
		background: #FFF9C4;
		width: 20px;
		height: 20px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
		border: 1px solid rgba(0, 0, 0, 0);
	}

	#ex1Slider .tooltip-arrow {
		border-top-color: #fafafa;
		margin-left: 0px;
		display: none;
	}
</style>
