<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="${request.contextPath}/css/kdys.css">
<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet light ">

	<div class="portlet-title">
		<div class="caption" style="width: 500px;">
			<span class="caption-subject bold uppercase font-dark">就诊记录</span>
		</div>
		<div class="caption">
			<span class="caption-subject bold uppercase font-dark">查 询</span>
			<div class="input-group"
				style="display:inline-table;vertical-align:middle;margin-left:10px;width:250px;">
				<input type="text" id="find" name="find" class="form-control" onkeydown="onKeyDown(event)" placeholder="姓名"> <span
					class="input-group-btn">
					<button onclick="looking()" class="btn btn-default" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="portlet-body">
		<div class="table-scrollable 3">
			<table class="table " style="width: 1000px;">
				<thead>
					<tr style="text_align:center;">
						<th style="text-align: center; ">姓名</th>
						<th style="text-align: center; ">就诊时间</th>
						<th style="text-align: center; ">诊断</th>
						<th style="text-align: center; ">处方</th>
						<th style="text-align: center; ">敏化检测</th>
						<th style="text-align: center; ">操作</th>
					</tr>
				</thead>
				<tbody>
				@ for(item in rs.List){
					<tr style="text_align:center;">
						<td style="text-align: center; ">${item.patientName}</td>
						<td style="text-align: center; ">${item.createTime,'yyyy-MM-dd'}</td>
						<td style="text-align: center; ">${item.disease}</td>
						<td style="text-align: center; ">AZ鼻炎喷雾剂</td>
						<td style="text-align: center; ">已检测</td>
						<td style="text-align: center; "><a class="text-primary"></a>
							<a onclick="showEmr(this)">详情</a>
							<a class="text-success" onclick="exportEmr('${item.id}')">导出</a>
							<a class="text-danger" onclick="deleteEmr(this)" emrId="{emrId}">删除</a>
						</td>
					</tr>
				@}
				</tbody>
			</table>

			<div>
				<input hidden type="text" name="key1" id="key1" value="${rs.keyWord_1}">
				<input hidden type="text" name="key2" id="key2" value="${rs.keyWord_2}">
				<input hidden type="text" name="currentPage" id="currentPage" value="${rs.pageCount}">
				<input hidden type="text" name="totalPage" id="totalPage" value="${rs.totalPageCount}">
			</div>

			<div class="page_and_btn">
				<div class="page pull-right ">
					<div class="col-md-12 column ">
						<!--仅有1页-->
						@if(rs.totalPageCount==1){
						<ul class="pagination pagination-sm pull-left">
							<li class="disabled">
								<a href="#">首页</a>
							</li>
							<li class="disabled">
								<a href="#">上一页</a>
							</li>
							<li class="disabled">
								<a href="#">下一页</a>
							</li>
							<li class="disabled">
								<a href="#">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@}
						<!--仅有2页-->
						@if(rs.totalPageCount==2){
						@if(rs.pageCount == 1){
						<ul class="pagination pagination-sm pull-left">
							<li class="disabled">
								<a href="#">首页</a>
							</li>
							<li class="disabled">
								<a href="#">上一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">下一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@}
						@else{
						<ul class="pagination pagination-sm pull-left">
							<li>
								<a href="#" onclick="page(this)">首页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">上一页</a>
							</li>
							<li class="disabled">
								<a href="#">下一页</a>
							</li>
							<li class="disabled">
								<a href="#">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@}

						@}
						<!--大于等于3页-->
						@if(rs.totalPageCount>2){
						@if(rs.pageCount == 1){
						<ul class="pagination pagination-sm pull-left">
							<li class="disabled">
								<a href="#">首页</a>
							</li>
							<li class="disabled">
								<a href="#">上一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">下一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@ }
						@else if(rs.pageCount == 2){
						<ul class="pagination pagination-sm pull-left">
							<li>
								<a href="#" onclick="page(this)">首页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">上一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">下一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@}
						@else if(rs.pageCount >2 && rs.pageCount< rs.totalPageCount){
						<ul class="pagination pagination-sm pull-left">
							<li>
								<a href="#" onclick="page(this)">首页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">上一页</a>
							</li>
							<li>
								<a href="#" onclick="page2(this)">${rs.pageCount-1}</a>
							</li>
							<li>
								<a href="#" onclick="page2(this)">${rs.pageCount}</a>
							</li>
							<li>
								<a href="#" onclick="page2(this)">${rs.pageCount+1}</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">下一页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@}
						@else{
						<ul class="pagination pagination-sm pull-left">
							<li>
								<a href="#" onclick="page(this)">首页</a>
							</li>
							<li>
								<a href="#" onclick="page(this)">上一页</a>
							</li>
							<li class="disabled">
								<a href="#">下一页</a>
							</li>
							<li class="disabled">
								<a href="#">尾页</a>
							</li>
							<li class="disabled">
								<a href="#">当前是第${rs.pageCount}页,共计${rs.totalPageCount}页</a>
							</li>
						</ul>
						@}
						@}
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="windowsA" class="layui-row" style="display: none">
		<table class="table" style="padding:10%;">
		<caption style="">穴位情况</caption>
		<thead>
			<tr>
      			<th>穴位名</th>
      			<th>温&emsp;度</th>
      			<th>阻&emsp;值</th>
      			<th>针刺强度</th>
    		</tr>
  		</thead>
  <tbody>
    <tr>
      <td>Tanmay</td>
      <td>Bangalore</td>
      <td>Bangalore</td>
      <td>Bangalore</td>
    </tr>
    <tr>
      <td>Sachin</td>
      <td>Mumbai</td>
      <td>Mumbai</td>
      <td>Mumbai</td>
    </tr>
  </tbody>
</table>

<table class="table" style="padding:10%">
		<caption style="taxt-align:center">异常治疗情况</caption>
		<thead >
			<tr>
      			<th>穴位名</th>
      			<th>温&emsp;度</th>
      			<th>阻&emsp;值</th>
      			<th>针刺强度</th>
    		</tr>
  		</thead>
  <tbody>
    <tr>
      <td>Tanmay</td>
      <td>Bangalore</td>
      <td>Bangalore</td>
      <td>Bangalore</td>
    </tr>
    <tr>
      <td>Sachin</td>
      <td>Mumbai</td>
      <td>Mumbai</td>
      <td>Mumbai</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
<script type="text/javascript">
    // 分页查询
    function page(obj) {
        var k = $(obj).text();
        var toPage = "";
        if (k == "下一页") {
            toPage = Number($("input[name=currentPage]").val()) + 1;
        }
        if (k == "上一页") {
            toPage = Number($("input[name=currentPage]").val()) - 1;
        }
        if (k == "尾页") {
            toPage = Number($("input[name=totalPage]").val());
        }
        if (k == "首页") {
            toPage = 1;
        }
        var url = "${request.contextPath}/patientRecord?currentPage=" + toPage
            + "&key2=" + $("input[name=key2]").val()
            + "&key1=" + $("input[name=key1]").val();
        $("#right_content").load(url);
    }
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value == ""){
                    return '测评题目必填';
                }
            },
            option: function (value) {
                if (value == ""){
                    return "测评题目选项必填";
                }
            }
        });

    });


    function showEmr() {
        var index = layer.open({
            type:1,
            title:"敏化检测数据",
            skin:"myclass",
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content:$("#windowsA"),
			end:function () {
				$("#windowsA").hide()
            }
        });
    }

    function page2(obj) {
        var k = Number($(obj).text());
        var url = "${request.contextPath}/patientRecord?currentPage=" + k
            + "&key2=" + $("input[name=key2]").val()
            + "&key1=" + $("input[name=key1]").val();
        $("#right_content").load(url);
    }
    //搜索
    function looking() {
        var k = $("input[name=find]").val();
        var k2 = "all_patient"
        var url = "${request.contextPath}/patientRecord?key1="+k+"&key2="+k2;
        $("#right_content").load(url);
    }
    function onKeyDown(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==13){ // enter 键
            looking();
        }
    }

	// 删除病例
	function deleteEmr(me) {
		var emrId = $(me).attr("emrId");
		var url = contextPath + "/emr/delemr";
		var postdata = {
			id : emrId
		};
		$.post(url, postdata, function(data) {
			if (data.status == "TS") {
			searchNextPage(1)
			}
		});
	}
	function exportEmr(value) {
      //查询病历
		location.href="${request.contextPath}/emr/export?emrId="+value;
    }
</script>
<style>

body {
	background-color: #5C9BD1;
}

.static-info .name {
	font-size: 16px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a
	{
	background: #5C9BD1;
	color: #fff;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover
	{
	background-color: #5C9BD1;
}

li a {
	color: white;
	font-size: 16px;
}

.page-header.navbar .page-logo {
	background: #74AFE7;
}

.btn


:not

 

(
.btn-sm

 

)
:not

 

(
.btn-lg
)
{
line-height: 1.44;
width: 99px;
height: 40px;
margin: 6px;
}
.uneditable-input {
	padding: 6px 12px;
	min-width: 206px;
	font-size: 14px;
	font-weight: 400;
	height: 40px;
	color: #555;
	background-color: #fff;
	border: 1px solid #c2cad8;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* button 去边框 */
.btn


:not

 

(
.btn-sm

 

)
:not

 

(
.btn-lg
)
{
line-height: 1.44;
width: 99px;
height: 40px;
margin: 6px;
border: none;
}
.xq {
	color: #3f83ba;
}

.dc {
	color: #389f9a;
}

.sc {
	color: #c5654c;
}

.table-scrollable {
	width: 810px;
	overflow-x: auto;
	overflow-y: hidden;
	border: 1px solid #e7ecf1;
	margin: 10px 0 !important;
}

.table-scrollable>.table {
	width: 800px !important;
	margin: 0 !important;
	background-color: #fff;
	text_align: center;
}
</style>
</html>